
.container-slider-services{
height: 65rem !important;
overflow: hidden;

.slick-slide-img {
    transition: all 0.4s ease-in-out;
}

.slick-center {
        margin: 3rem 0.5rem;
        .item-slider-services{
                 transform: scale(1.2);
        transition: all 0.4s ease-in-out;   
        }
}

.slick-slide {
    transform: scale(0.9);
    transition: all;
}

.item-slider-services {
background-color: transparent !important;
    border-radius: 25px 5px !important;
    height: 55rem !important;
     border: 2px solid #FFF !important;   
     padding: 0 !important;
     img{
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
     }

}



}

