.slick-slide-img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}

.slick-center {
    transform: scale(1.3);
    transition: all 0.4s ease-in-out;
}

.slick-slide img {
    transform: scale(0.8);
    transition: all;
    padding: 40px 0;
}

