
.header{
    position: relative ;
}
.high{
    height: 100vh;
}

.middle{
    height: 50vh;
}

.h1-header{
    display: flex !important;
    align-items: end !important;
    padding-left: 2rem !important;
}