.navbar {
    background: linear-gradient(180deg, #00012D 0%, rgba(0, 1, 45, 0.00) 102%);
    box-shadow: rgba(0, 1, 45, 0.00) 2px 2px 2px;
    padding-right: 2rem;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;

    .navbar-nav {
        display: flex !important;
        align-items: center !important;
    }


    .nav-link {
        width: 10rem;
        margin: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        color: white;
    }

    .nav-link:hover{
        color: #FFCF00;
    }

    .esp-en {
        display: flex;
        align-items: center;

        button {
            padding: 0.2rem 1rem;
            margin: 0 0.5rem;
            background-color: transparent;
            color: white;
        }

        .active-language {
            border-radius: 4.637px 4.637px;
            border: 0.927px solid var(--Blanco, #FFF);
            transition: border 0.7s ease;
            /* Efecto de transición para el borde */
        }

        .inactive-language {
            border-radius: 0;
            border: 0.927px solid transparent;
            transition: border 0.7s ease;
        }

    }

    .navbar-toggler {
        margin-right: 2rem;
        height: 2.5rem;
        width: 3rem;
    }

    .dropdown-menu {
        background: rgba(0, 1, 45, 0.70);

        .dropdown-item {
            border-bottom: 1px solid white;
        }

        .dropdown-item:hover {
            color: black !important;
        }

        a {
            color: white;
        }

    }

    .contact {
        border-radius: 23.187px 4.637px;
        background: #FFCF00;
        width: 184.496px;
        height: 35.557px;
        color: #00012D;
        font-family: roboto-bold;
    }
}

@media (max-width: 1000px) {

    .navbar-nav {
        background: rgba(0, 1, 45, 0.094);

        .nav-link {
            font-size: 1.8rem !important;
            margin: 0.5rem 0;
            text-align: center;
        }
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        img {
            width: 22rem;
        }
    }

}