#nosotros {
    margin-top: 8rem;
    h3 {
        font-size: 4rem;
    }
    
.contenedor-nosotros{
    border-radius: 53px;
    background: rgba(255, 255, 255, 0.20);
    padding: 5rem 3rem;
    
}

     .img-nosotros {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }

.slider-nosotros{
    margin-top: 6rem;
}

}