

@font-face {
    font-family: "cormorant-bold";
    src: url(/public/fonts/cormorant-bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: "cormorant";
    src: url(/public/fonts/cormorant.ttf);
    font-display: swap;
}

@font-face {
    font-family: "bhutuka";
    src: url(/public/fonts/bhutuka.ttf);
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url(/public/fonts/roboto.ttf);
    font-display: swap;
}

@font-face {
    font-family: "roboto-bold";
    src: url(/public/fonts/roboto-bold.ttf);
    font-display: swap;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    h1 {
        font-family: cormorant-bold !important;
        font-size: 7rem;
        color: white;
    }

    h2 {
        font-size: 5rem;
        font-family: bhutuka;
        color: white;
    }

    h3 {
        font-family: cormorant-bold !important;
        font-size: 3rem;
        color: white;
    }

    h4 {
        font-family: cormorant-bold !important;
        font-size: 2.5rem !important;
        color: white !important;
    }

    h5 {
        font-family: roboto;
        font-size: 1.8rem;
        color: white;
    }

    h6 {
        font-family: roboto;
        font-size: 1.3rem;
        color: white;
    }

    body {
        background-color: #00012D;
    }

    p {
        font-size: 1.8rem;
        color: white;
        font-family: roboto;
    }

    a {
        text-decoration: none !important;
        color: white;
        font-family: roboto;
        font-size: 1.8rem;
    }

}

.button-1 {
    border-radius: 25px 5px;
    border: 2px solid var(--Amarillo, #FFCF00);
    background-color: transparent;
    color: #FFCF00;
    width: 19rem;
    height: 3rem;
    font-size: 1.6rem;
    font-family: roboto-bold;
}

.button-2 {
    border-radius: 25px 5px;
    border: 2px solid var(--Amarillo, #FFCF00);
    width: 19rem;
    height: 3rem;
    font-size: 1.6rem;
    font-family: roboto-bold;
    background-color: #FFCF00;
    color: black;
}

.text-center {
    text-align: center;
}

.margin-title {
    margin: 3rem 0;
}

.none {
    display: none !important;
}

.inherit {
    display: inherit !important;
}

.end {
    position: absolute;
    bottom: 50% !important;
    padding-left: 2rem !important;

    h1 {
        color: var(--azul-profundo, #00012D);
        font-size: 5.5rem;
    }
}

.shop {
    height: 100vh;
}

.contenedor-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;

    h1,
    h2 {
        font-size: 6rem;
    }

    h3,
    span {
        font-size: 2rem;
        font-family: roboto-regular;
        margin-top: 2rem;
    }
}


.whatsFlot {
    position: fixed;
    top: 75%;
    left: 85%;
    color: white;
    text-decoration: none;
    z-index: 100;

    img{
        width: 7rem;
    }

  }
  
  
// PRELOADER

.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .preloader {
    border: 10px solid transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite, pulse 1s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 16rem;
    }
  }
  

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  


@media (max-width: 768px) {
    html {
        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2.2rem;
        }

        h4 {
            font-size: 1.8rem !important;
        }

        h5 {
            font-size: 1.4rem !important;
        }

        h6 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1.7rem;
        }

        a {
            font-size: 1.5rem !important;
        }
    }
    .contenedor-shop {
        h1,
        h2 {
            font-size: 4rem;
        }
    
        h3,
        span {
            font-size: 1.8rem;
            font-family: roboto-regular;
            margin-top: 2rem;
        }
    }
}

@media (max-width: 525px) {
    html {
        h1 {
            font-size: 3.5rem;
        }

        h2 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.6rem;
        }

        a {
            font-size: 1.4rem !important;
        }
    }

    .whatsFlot{
        left: 75%;
        img{
            width: 6rem;
        }
    }

}

@media (max-width: 375px) {
    html {
        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 1.9rem;
        }

        h4 {
            font-size: 1.7rem !important;
        }

        h5 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1.5rem;
        }

        a {
            font-size: 1.5rem;
        }

    }

    .contenedor-shop {
        h1,
        h2 {
            font-size: 3rem;
        }
    
        h3,
        span {
            font-size: 1.6rem;
            font-family: roboto-regular;
            margin-top: 2rem;
        }
    }

}