#services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0;
}.card-services {
    border-radius: 20.744px 4.149px !important;
    border: 1.659px solid #FFF !important;
    width: 37rem;
    height: 47rem;
    margin: 2rem;
    background-color: transparent !important;
}