#services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0;
}

.card-services {
    border-radius: 20.744px 4.149px !important;
    border: 1.659px solid #FFF !important;
    width: 37rem;
    height: 47rem;
    margin: 2rem;
    background-color: transparent !important;
}

.card-services:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}


// SERVICIO DETAIL

.contenedor-descripcion-servicio {
    border-radius: 25px 5px;
    border: 2px solid #FFF;
    background: var(--azul-profundo, #00012D);
    box-shadow: 10px 10px 25px 0px rgba(255, 255, 255, 0.20);
    display: flex;
    align-items: center;

    .caja-servicio {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        height: 12rem;
        border-right: 1px solid white;
        img{
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
        }
        h5 {
            margin: 1rem 0;
            font-family: roboto-bold;
            font-size: 1.9rem;
        }

        h4 {
            font-family: bhutuka !important;
            font-size: 3rem !important;
        }


    }

    .caja-servicio:last-child {
        h4 {
            font-family: roboto !important;
            font-size: 1.8rem !important;
        }

    }

}

.mapa-description-servicio {
    margin: 5rem 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgMapa {
    height: 38rem;

    img {
        width: 100%;
    }
}

.experiencia-servicio {
    h3 {
        margin: 2rem 0;
    }

    display: flex;
    flex-direction: column;
    align-items: start;

    .description-experiencia-servicio {
        border-left: solid 1px white;
        padding-left: 1rem;

        p {
            margin: 2rem 0;
        }

        button {
            margin-top: 2rem;
        }
    }



}


.slider-experiencia {
    width: 21rem;
    /* Utiliza todo el espacio disponible */
    height: 28rem;




    img {
        width: 90%;
        /* La imagen ocupa todo el espacio disponible */
        height: 100%;
        /* La imagen ocupa todo el espacio disponible */
        object-fit: cover !important;
        border-radius: 15.47px;
        /* La imagen se ajusta al contenedor sin deformarse */
    }
}

.call-action-servicio{
    margin-top: 4rem !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
}

.div-regalar-vivir {
    border-radius: 25px 5px;
    background: var(--azul-claro, #333457);
    display: flex !important;
    justify-content: space-around !important;
    align-items: center;
    margin: 0 1rem;
    padding: 1rem 0;
    width: 54rem !important;
    p{
font-size: 1.7rem;
    }
img{
    width: 9rem;
}
    div {
        margin: 0 0.5rem;
    }

    button{
        width: 12.5rem;
    }


}

.preguntas-frecuentes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem 0 !important;

    .contenedor-preguntas-frecuentes {
        width: 50%;
    }

    h3 {
        padding-bottom: 2rem;
        border-bottom: 1px solid white;
    }

    .pregunta-frecuente {
        width: 100%;
        border-bottom: 1px solid white;
        cursor: pointer;

        .question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: ease-in-out;
        }



        :hover {
            background: var(--azul-claro, #333457);
            border-radius: 10px;
        }

        h4 {
            padding-top: 0.8rem;
            padding-bottom: 1.1rem;
            font-size: 2.2rem !important;
        }
    }


    .respuesta {
        transition: height 0.5s ease-in-out;
        padding-top: 0.6rem;
        font-size: 1.55rem;
    }
}

@media (max-width: 1170px) {
.div-regalar-vivir{
    margin: 1.5rem 0 !important;
}
}
@media (max-width: 1000px) {


    .contenedor-descripcion-servicio {
         .caja-servicio:last-child {
                h4 {
                    font-size: 1.8rem !important;
                }

            } 
            
            .caja-servicio {
                padding-top: 1rem;
                align-items: center !important;
                height: 11rem;
                border-bottom: 1px solid white;
            h4 {
                font-size: 3rem !important;
            }

            h5{
                font-size: 1.6rem;
            }
        
        }
    }



}

@media (max-width: 768px) {

    .contenedor-preguntas-frecuentes{
        width: 100% !important;

        .question{
            width: 100% !important;
        }
    }
}

@media (max-width: 550px) {
    .div-regalar-vivir{
        width: 40rem !important;
        flex-direction: column !important;
        text-align: center;
        p{
            font-size: 1.5rem;
        }
        div{
            margin: 0.5rem 0;
        }
    }
}